# Dependency folders (should be installed inside Docker, not copied)
vendor/
node_modules/

# Symfony specific
var/*
!var/cache
!var/log
.env
.env.local
.env.test

# Logs and temp files
*.log
npm-debug.log
.cache/
.nyc_output/
coverage/
.coverage
.DS_Store

# Version control
.git
.gitignore

# Documentation and Tests (Not needed to run the app in production)
README.md
tests/